
.navbar {
  background-color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  box-shadow: 0 0 5px rgb(196, 193, 193);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  flex: 1;
}

.logo {
  height: 100%;
}

.search {
  background-color: rgb(220, 227, 245);
  border-radius: 20px;
  width: 240px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: start;
  color: rgb(31, 30, 30);
  height: 100%;
}

.search svg {
  font-size: 15px;
  width: 36px;
}

.search input {
  border: none;
  padding-left: 10px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

.logo img, .search svg {
  height: 100%;
}




.navbar .middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 36px;
  flex: 2;
  color: gray;
}
.middle .more {
  display: none;
}

.navbar .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex: 1;
  gap: 10px;
}


.right .icons {
  background-color: rgb(235, 233, 233);
  height: 100%;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.right .create.icons {
  display: none;
}



.find-friends {
  height: 100%;
  background-color: rgb(228, 230, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  transition: all .2s ease;
}



.right img {
  width: 40px;
  border-radius: 50%;
}



@media (max-width: 1300px) {
  .find-friends {
    display: none;
  }
  
  .logo {
    width: 30px;
  }
  .search {
    background-color: rgb(228, 230, 235);
    border-radius: 50%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgb(78, 77, 77);
    height: 100%;
  
}
  .search input {
    display: none;
  }
}

@media (max-width: 1100px) {
  .middle .more {
    display: block;
  }
  .right .create.icons {
    display: flex;
  }

  .right .menu.icons {
    display: none;
  }
}

@media (max-width: 700px) {
  .middle div{
    display: none;
  }

  .middle .more{
    display: none;
  }
}

@media (max-width: 300px) {
  .navbar .right div.create{
    display: none;
  }
}